# Build output
/dist/
/bin/
/lastrun
/lastrun.exe

# Test binaries / coverage
*.test
*.out

# Backup files
**/*.bak

# IDE files
.idea/
.vscode/
*.sublime-*

# macOS
.DS_Store

# Test databases
*.db
*.db-journal
